.Stopwatch {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.Clock {
  font-family: 'Ubuntu';
  height: 36vmin;
  width: 36vmin;
  border-radius: 100%;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 8vmin;
  margin-bottom: 25px;
}


.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.row > button {
  margin: 0 8px;
}

.button {
  font-size: 32px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(0, 180, 0);
  padding: 8px 16px;
  cursor: pointer;
  background-color: black;
  border-radius: 10px;
  font-family: Ubuntu;
}
.button:hover {
  border: 2px solid rgb(0, 180, 0);
}
.button:active {
  background-color: rgba(33, 199, 102, 0.4);
}


/* responsive styles */

@media screen and (max-width: 600px) {
  
  .Stopwatch {
    justify-content: space-evenly;
  }

  .Clock {
    height: 30vh;
    width: 30vh;
    font-size: 8vh;
  }

  .row > button {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
  }

}